- Tuples
    + #tuples are immutable(Unchangeable)
    + #lists which are mutable(Changeable)

In [42]:
a = [1,2,3,4]

In [43]:
a[0] = 10

In [44]:
a

[10, 2, 3, 4]

In [45]:
a[2] = 20

In [46]:
a

[10, 2, 20, 4]

In [47]:
a = (1,2,3)

In [48]:
type (a)

tuple

In [49]:
a[0]=10

TypeError: 'tuple' object does not support item assignment

In [50]:
def func(*args):
    print(type(args))

In [ ]:
func(1,2,3,4)

<class 'tuple'>

In [ ]:
a = 5
b = 9
a,b = b,a

In [ ]:
print(a,b)

9 5

In [ ]:
c = a,b

In [ ]:
type(c)

tuple

In [51]:
def sum_diff(a,b):
    s = a+b
    d =a-b
    return s,d

In [52]:
sum_diff(10,5)

(15, 5)

In [57]:
s , d = sum_diff(10,5)

In [58]:
print(s,d)

15 5

In [55]:
c = sum_diff(10,5)

In [56]:
type(c)

tuple

list to tuple and tuple to list

In [59]:
a = (1,2,3,4)

In [60]:
list(a)

[1, 2, 3, 4]

In [64]:
tuple()

()

In [62]:
list(range(5))

[0, 1, 2, 3, 4]

In [63]:
tuple(range(5))

(0, 1, 2, 3, 4)

Returning multiple values from functions(the returned thing is a tuple)

In [66]:
a = (1,2,3,4)
a = "Nikhil"

In [68]:
a = [1,2,3,4]

In [69]:
a.append(5)

In [71]:
a.append(7)

In [73]:
a.append(8)

In [74]:
a

[1, 2, 3, 4, 5, 7, 8]

list
```py
a= [1,2,3,4,5]
a=[0]
```

Dictionaries
```py
a = dict()
a["name"]
a[1]
a[(1,2)]
```

Dictionary
- key -> pair

In [86]:
a = {
    "name":"Nikhil kumar Singh",
    1:"Something",
    (1,2):"tuple key wat?"
}

In [88]:
a["name"]

'Nikhil kumar Singh'

In [87]:
a[1]

'Something'

In [90]:
a[(1,2)]

'tuple key wat?'

In [91]:
a = {
    [1,2] : "something"
}

TypeError: unhashable type: 'list'

- Some important dict methods
    + get()
    + items()
    + keys()
    + values()
    + clear()

In [96]:
a ={
    "name":"Nikhil Kumar singh"
}

In [97]:
a

{'name': 'Nikhil Kumar singh'}

In [98]:
a["name"] = "Surabhi Dey"

In [99]:
a

{'name': 'Surabhi Dey'}

In [100]:
a ={
    "name":"Nikhil Kumar singh",
    "Section":"KOC29",
    "Roll_NO":"RKOC29A28",
    "Collage":"LPU"
}

In [101]:
a["name"]

'Nikhil Kumar singh'

In [102]:
a["Section"]

'KOC29'

In [103]:
a["Roll_NO"]

'RKOC29A28'

In [104]:
a["Collage"]

'LPU'

In [105]:
a[Marks]

NameError: name 'Marks' is not defined

In [106]:
key = "Marks"
if key in a:
    print(a[key])
else:
    print("key doesn't exist")

key doesn't exist

In [109]:
key = "Marks"
print(a.get(key))

None

In [110]:
key = "Marks"
print(a.get(key, "key doesn't exist"))

key doesn't exist

In [111]:
key = "name"
print(a.get(key, "key doesn't exist"))

Nikhil Kumar singh

In [112]:
a.keys()

dict_keys(['name', 'Section', 'Roll_NO', 'Collage'])

In [113]:
a.values()

dict_values(['Nikhil Kumar singh', 'KOC29', 'RKOC29A28', 'LPU'])

In [114]:
for x in a.items():
    print(x)

('name', 'Nikhil Kumar singh')
('Section', 'KOC29')
('Roll_NO', 'RKOC29A28')
('Collage', 'LPU')

In [115]:
for key , value in a.items():
    print(key , "->" , value)

name -> Nikhil Kumar singh
Section -> KOC29
Roll_NO -> RKOC29A28
Collage -> LPU

In [117]:
a

{'name': 'Nikhil Kumar singh',
 'Section': 'KOC29',
 'Roll_NO': 'RKOC29A28',
 'Collage': 'LPU'}

In [120]:
"name" in a

True

In [116]:
for x in a:
    print(x)

name
Section
Roll_NO
Collage

In [118]:
list(a)

['name', 'Section', 'Roll_NO', 'Collage']

# And yeah,keys of dict can be any immutable(hasable) object, so.....