Data Structures

1. Some string operator
    1. String formating or String interpolating

in c language
printf("%d" , 123)   #for integer arguments
printf("%f" , 1.23)   #for float arguments

#Write a code in C to add two numbers using any operator
```
hint
int a = printf("abc");
// a == 3

In [4]:
#String formating or String interpolating
a = 5
print("value of a is %d" % (a))
print("Hello World !")
print("value of a is {}" .format(a))

value of a is 5
Hello World !
value of a is 5

In [20]:
#String formating or String interpolating
a = 5
print("value of a is %d" % (a))
print("Hello World !")
print("value of a is {} {}" .format(a , 2))

value of a is 5
Hello World !
value of a is 5 2

In [2]:
a = "Nikhil"
print("value of a is %d" % (a))

TypeError: %d format: a real number is required, not str

In [7]:
a , b ,c = 1 , 2 , 3
"a = {} , b = {} , c = {}".format(a,b,c)

'a = 1 , b = 2 , c = 3'

In [9]:
a , b ,c , d = 1 , 2 , 3 , 4
"a = {} , b = {} , c = {}".format(a,b,c)

'a = 1 , b = 2 , c = 3'

In [10]:
a , b ,c = 1 , 2 , 3
"a = {} , b = {} , c = {}".format(a,b)

IndexError: Replacement index 2 out of range for positional args tuple

In [11]:
a , b ,c = 1 , 2 , 3
"a = {} , b = {} , c = {}".format(c,b,a)

'a = 3 , b = 2 , c = 1'

In [12]:
a , b ,c = 1 , 2 , 3
"a = {2} , b = {1} , c = {0}".format(c,b,a)

'a = 1 , b = 2 , c = 3'

In [25]:
a , b ,c = 1 , 2 , 3
"a = {2} , b = {1} , c = {0}".format(c , b , a)

'a = 1 , b = 2 , c = 3'

In [13]:
name = "Nikhil Kumar Singh"
section = "KOC29"
"name = {name} section = {section}".format(name = name , section = section)

'name = Nikhil Kumar Singh section = KOC29'

In [23]:
name = "Nikhil Kumar Singh"
section = "KOC29"
"Hello I am {name} and my section is {section}".format(name = name , section = section)

'Hello I am Nikhil Kumar Singh and my section is KOC29'

In [19]:
print(f"name = {1+6}")

name = 7

In [26]:
print("name = {name}")

name = {name}

In [27]:
print(f"name = {name}")

name = Nikhil Kumar Singh

In [28]:
print(f"name = {10/3}")

name = 3.3333333333333335

In [29]:
"a\nb"

'a\nb'

In [30]:
len("a\nb")

3

In [32]:
# r means raw string
len(r"a\nb")

4

In [33]:
for c in "a\nb":
    print(c)

a


b

In [34]:
for c in r"a\nb":
    print(c)

a
\
n
b

In [35]:
#strip
"               Nikhil           ".strip()

'Nikhil'

In [36]:
#split
"1,2,3,4,5,6,7,8,9".split(",")

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [37]:
"Nikhil Kumar Singh".replace("N", "S")

'Sikhil Kumar Singh'

In [38]:
"Nikhil Kumar Singh".count("i")

3