Lambda Expression

In [60]:
1+2

3

In [61]:
"Nikhil "*2

'Nikhil Nikhil '

In [62]:
lambda a , b : a + b

In [63]:
print("Hello World")

Hello World

In [64]:
show = print

In [65]:
show("Something")

Something

In [66]:
def func():
    return 1 + 4

In [67]:
a = func

In [68]:
a ()

5

In [69]:
names = ["Nikhil" , "Surabhi Dey" , "Jatin" , "Someone"]

In [70]:
for name in names:
    print(name)

Nikhil
Surabhi Dey
Jatin
Someone

```
0 - Jatin
1 - Nikhil
2 - Surabhi Dey
3 - Someone
```

In [71]:
for name in enumerate(names):
    print(name)

(0, 'Nikhil')
(1, 'Surabhi Dey')
(2, 'Jatin')
(3, 'Someone')

In c++
int a[] = {1,2,3}

In [72]:
for a in enumerate(names):
    print(a)

(0, 'Nikhil')
(1, 'Surabhi Dey')
(2, 'Jatin')
(3, 'Someone')

In [82]:
for a in enumerate(names):
    print(type(a))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [83]:
for i , name in enumerate(names):
    print(i, "-" , name)

0 - Nikhil
1 - Surabhi Dey
2 - Jatin
3 - Someone

In [73]:
for a in enumerate(names):
    print(a[0])

0
1
2
3

In [74]:
for a in enumerate(names):
    print(a[1])

Nikhil
Surabhi Dey
Jatin
Someone

In [75]:
for a in enumerate(names):
    print(a[0],a[1])

0 Nikhil
1 Surabhi Dey
2 Jatin
3 Someone

In [88]:
names = ["Nikhil" , "Surabhi Dey" , "Jatin" , "Someone"]
scores = [50 , 80 , 90 , 70]

for i , name in enumerate (names):
    score = scores[i]
    print(name , "-" , score)

Nikhil - 50
Surabhi Dey - 80
Jatin - 90
Someone - 70

In [90]:
names = ["Nikhil" , "Surabhi Dey" , "Jatin" , "Someone"]
scores = [50 , 80 , 90 , 70]

for a in zip (names,scores):
    print(a)

('Nikhil', 50)
('Surabhi Dey', 80)
('Jatin', 90)
('Someone', 70)

In [91]:
names = ["Nikhil" , "Surabhi Dey" , "Jatin" , "Someone"]
scores = [50 , 80 , 90 , 70]

for name , score in zip(names,scores):
    print(name , "-" , score)

Nikhil - 50
Surabhi Dey - 80
Jatin - 90
Someone - 70

In [92]:
names = ["Nikhil" , "Surabhi Dey" , "Jatin" , "Someone"]
scores = [50 , 80 , 90 , 70]
states = ["Bihar" , "Assam", "Delhi" , "Punjab"]
for name , score ,state in zip(names , scores , states):
    print(name , "-" , score , state)

Nikhil - 50 Bihar
Surabhi Dey - 80 Assam
Jatin - 90 Delhi
Someone - 70 Punjab

SWAP values

In [76]:
a = 5
b = 9
temp = a
a = b
b = temp
print(a)
print(b)

9
5

In [77]:
a = 5
b = 9
a = a+b
b = a-b
a = a-b
print(a)
print(b)

9
5

In [78]:
a = 5
b = 9
a = a^b
b = a^b
a = a^b
print(a)
print(b)

9
5

In [79]:
# packing and unpacking values
# *args , **akwargs
a = 5
b = 9
a , b = b , a
print(a)
print(b)

9
5

In [80]:
a = 1 , 2
print(type(a))

<class 'tuple'>

In [81]:
a = [1,2]
b , c = a
print(b , c)

1 2